<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/header') %>
    <title>New Book</title>
  </head>
  <body>
    <%- include('partials/navigation') %>

    <div class="container p-4">
      <form method="POST" action="/newAdvert" class="card card-body" id="advert-form">
        <div class="form-group">
          <label for="name">Number of item to DELETE: (_id)</label>
          <input
            class="form-control"
            type="text"
            name="name"
            id="name"
            placeholder="Enter Number of item to DELETE: (_id), Example: 5f549f987f039d2e770ed45c"
            autofocus
            required
          />
        </div>

        <input
          type="submit"
          id="advert-form"
          value="DELETE ITEM"
          class="btn btn-primary"
        />
      </form>
    </div>
  </body>
</html>
