<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/superhero/bootstrap.min.css"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap"
  rel="stylesheet"
/>
<title>NodePop</title>
<style>
  body {
    font-family: 'Roboto Mono', monospace;
  }
  body li {
    font-size: 24px;
  }
  .center {
    text-align: center;
  }
</style>
