<ul class="navbar-nav ml-auto">
  <li class="nav-item active">
    <a class="nav-link" href="/api/all"> View All Adverts </a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="/api/all/json"> View Json </a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="/newAdvert"> Add Advert </a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="/delete"> Delete Advert </a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="/update"> Update Advert </a>
  </li>
</ul>
